@font-face {
    font-family: "Kaushan Script";
    src: url("Font/KaushanScript-Regular.otf") format("opentype");
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: "Kaushan Script", arial, sans-serif;
}