body {
    background-image: url(backgroundsky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.satu {
    background-color: rgba(252, 152, 3, .60);
    width: 300px;
    height: 300px;
    position: relative;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom: -50px;
    right: -50px;
}