/*Absolute=menaikkan 1 dimensi dan 
  menganggap ruang awalnya tidak ada*/
div {
	width: 200px;
	height: 200px;
	margin: auto;
}

.container {
	border: 10px solid green;
	width: 600px;
	height: 650px;
	position: relative;
}

.satu {
	background-color: limegreen;
}

.dua {
	background-color: violet;
	position: absolute;
	top: 0;
	left: 0;
}

.tiga {
	background-color: gold;
}

/*Fixed=Element yang akan selalu mengikuti pergerakan window*/

.container2 {
	border: 10px solid green;
	width: 600px;
	height: 650px;
	position: relative;
}

.satu2 {
	background-color: limegreen;
}

.dua2 {
	background-color: violet;
	position: fixed;
	top: 0;
	left: 0;
}

.tiga2 {
	background-color: gold;
}