.kotak {
    width: 200px;
    height: 200px;
    background-color: salmon;
    animation: animasiKotak 2s ease 3 alternate forwards;
}

@keyframes animasiKotak {
    0% {
        width: 200px;
    }

    50% {
        width: 500px;
        height: 200px;
    }

    100% {
        width: 500px;
        height: 500px;
    }
}


/* 
    Animation
    [name]

    [duration]

    [timing-function
    ease
    ease-in
    ease-in-out
    ease-out]

    [delay]

    [iteration-count
    (angka) 
    infinite]

    [direction
    normal
    reverse
    alternate-reverse
    alternate]

    [fill-mode
    none
    forwads
    backwards
    both]

    [play-state
    running
    paused]