h1 {
	font-size: 75px;
	color: darkred;
	text-align: center;
	text-decoration: underline;
	font-family: arial;

}

p {
	text-align: justify;
	font-family: sans-serif, verdana, arial;
	word-spacing: 2px
}

a {
	text-decoration: none;
}
