/* Font */
@font-face {
    font-family: 'opensans';
    src: url(font/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf);
}

@font-face {
    font-family: 'monserrat';
    src: url(font/static/Montserrat/Montserrat-Regular.ttf);
}

/* CSS */

body {
    height: 4000px;
    font-family: 'monserrat';
}

#sidebar2 {
    background-color: #212529;
    height: 100vh;
    width: 70px;
    box-sizing: border-box;
    position: fixed;
}

/* Logos */

.logos {
    border: 1px solid #212529;
    padding: 5px;
}

.lapislogo {
    padding: px;
    border-bottom: 1px solid #585B5E;
}

.logos a img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 5px;
    display: block;
    margin: auto;
}

/* Menu Sidebar */

.menus {
    padding-top: 10px;
}

.menus ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0rem;
}

.menus ul li{
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menus ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.menus ul li:hover {
    background-color: #940036;
}

.menus ul li a p {
    margin: 0;
    font-size: 10px;
}

/* sosmed */

.sosmed {
    padding: 5px;
}

.lapissosmed {
    border-top: 1px solid #585B5E;
    position: absolute;
    right: 23px;
    bottom: 5px;
}

.lapissosmed ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.lapissosmed ul li a {
    display: block;
}

.lapissosmed ul {
    list-style-type: none;
    padding-left: 0rem;
    padding-top: 15px;
}

/* tes */

#tes {
    background-color: cyan;
    height: 100vh;
    width: 290px;
    position: fixed;
    left: -9000px;
}

#tes:target {
    animation: animasi 0.5s forwards;
}

@keyframes animasi {
    0% {
        left: -340px;
    }

    100% {
        left: 0;
    }
}
