p {
    font-size: 20px;
    text-align: center;
}

.kotak {
    background-color: cyan;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: 0.5s;
}

.kotak:hover {
    transform: translate(249px,-50px);
}

/* Transform Element

    scale (angka),scaleX (Horizontal),scaleY (Vertical)

    rotate (deg),rotateX (Horizontal),rotateX (Vertical)

    skew (deg),skewX (Horizontal),skewY (Vertical)

    translate(px),translateX (Horizontal),TranslateY (Vertical)
*/