body {
    display: grid;
    justify-content: center;
    background-color: #0E1538;
    font-family: 'Barlow Condensed', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin: 100px;
    width: 500px;
    height: 120px;
    border: 3px solid #03cffc;
    background-color: #03cffc;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 2px #03cffc;
    transition: 1s;
}

.container:hover {
    transform: scale(.99);
    box-shadow: 0px 0px 100px 2px #03cffc;;
}

.text {
    font-weight: bold;
}






































