body {
	font-family: arial;
	text-decoration: none;
}

h1, h2 {
	color: green;
}

a {
	text-decoration: none;
}

ul li a {
	color: orange;
}

ol li a {
	color: red;
}

.p1 {
	color: darkred;
}

.p2 {
	color: purple;
	font-weight: bold;
}

a.jutipai {
	font-family: italic;
}