/*Static adalah position default*/

div {
	width: 200px;
	height: 200px;
}

.satu {
	background-color: limegreen;
}

/* relative adalah position dengan menaikkan 1 dimensi*/

.dua {
	background-color: violet;
	position: relative;
	top: 50px;
}

.tiga {
	background-color: gold;
}